extends layout

block content
    .container-fluid.col-md-10.p-0.bg-white.position-relative
        form.addProject(action="/api/adding" method="POST" enctype="multipart/form-data")
            input(type="text" placeholder="title" name="title"  value="kjhk" required)
            textarea(placeholder="description" name="description" value="kjkhk")
            input(type="text" placeholder="Github link" name="github" value="jkhk")
            input(type="text" placeholder="link" name="link" value="kjhk")
            input(type="text" placeholder="tags" name="tags" value="#gjhj#gfhjg" required)
            input(type="file" name="imgs" multiple)
            input(type="submit" value="Send")
        script
            include script.js
