extends layout

block content
    form.addProject
        input(type="text" placeholder="title")
        input(type="text" placeholder="github link")
        input(type="text" placeholder="link")
        input(type="text" placeholder="tags")
        input(type="file")
        textarea(placeholder="description")