extends layout

block content
    .container-fluid.col-md-10.p-0.bg-white.position-relative
        .row.m-0#home
            .col-12.vh-100.p-md-5.p-sm-5.banner.text-white.z-index-1000.absbg
                .text.position-absolute.text.z-index-1000
                    h1.display-1.mx-xl-n4 Aurov Dmitry
                    h2.display-4.mx-xl-5.text-warning Web Developer
                .z-index-1000.position-absolute.d-flex
                    a.but.text-center.mr-2(href="/projects") Проекты
                    a.but.text-center(href="/docs/CV.pdf" download) Скачать CV
        .row.col-12.p-0.m-0.text-white.text-uppercase.lh.position-relative.boxes
            .row.col-lg-6.m-0.p-0
                .col-6.boxes-box.front.z-index-1000.absbg.animate-box.animated.bottom.d-flex.align-items-center.justify-content-center FrontEnd
                .col-6.boxes-box.back.z-index-1000.absbg.animate-box.animated.bottom.d-flex.align-items-center.justify-content-center BackEnd
            .row.col-lg-6.m-0.p-0
                .col-6.boxes-box.ux.z-index-1000.absbg.animate-box.animated.bottom.d-flex.align-items-center.justify-content-center UX/UI
                .col-6.boxes-box.des.z-index-1000.absbg.animate-box.animated.bottom.d-flex.align-items-center.justify-content-center Design
        .row#about.p-0.m-0
            .col-12.p-5
                h2.animate-box.animated.mb-3.left.ad-2 Обо мне
                p.animate-box.animated.mb-3.bottom.grey-box.p-4.position-relative.rounded.ad-2 Я Junior веб-разработчик.
                p.animate-box.animated.mb-3.bottom.grey-box.p-4.position-relative.rounded.ad-2 - Опыт разработки больше одного года. Стараюсь совершенствоваться на практике, выполняя тестовые задачи и проекты, а также посещаю или просматриваю различные митапы, читаю статьи;
                p.animate-box.animated.mb-3.bottom.grey-box.p-4.position-relative.rounded.ad-2 - Есть небольшой опыт работы в разработке коммерческий проектов;
                p.animate-box.animated.mb-3.bottom.grey-box.p-4.position-relative.rounded.ad-2 -Являюсь сертифицированным специалистом по MOS(Microsoft Word 2016) и MTA(Introduction to Programming Using HTML and CSS/Introduction to Programming Using JavaScript) с подверженной компетенцией в Веб-дизайне и разработки по стандартам Ворлдскиллс Россия.
        .row.p-0.m-0.col-12.bg-secondary.education.z-index-1000.absbg.animate-box.animated.bottom.bannerSecond
            .row.p-0.m-0#eduction.text-white
                .col-12.p-5
                    h2.animate-box.animated.mb-3.left.display-4.ad-2 Education
        .accordion#accordion
            .card
                .card-header.position-relative.mgmsu.animate-box.animated.bottom#headingMgmsu
                    h2.mb-0.pl-40px
                        button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target="#collapseMgmsu" aria-expanded="true" aria-controls="collapseMgmsu")
                            | Московский государственный медико-стоматологический университет имени А.И. Евдокимова #[br]
                            strong Клиническая психология
                #collapseMgmsu.collapse(aria-labelledby="headingMgmsu" data-parent="#accordion")
                    .card-body.d-flex
                        .text-box.p-4.grey-box.position-relative.w-75
                            p Изучал общую, пато- и клиническую психологию, психотерапию.
            .card
                .card-header.position-relative.mgtu.animate-box.animated.bottom#headingMgtu
                    h2.mb-0.pl-40px
                        button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target="#collapseMgtu" aria-expanded="true" aria-controls="collapseMgtu")
                            | Московский государственный технический университет им. Н. Э. Ба́умана (неоконч) #[br]
                            strong Компьютерные системы и сети
                #collapseMgtu.collapse(aria-labelledby="headingMgtu" data-parent="#accordion")
                    .card-body.d-flex
                        .text-box.p-4.grey-box.position-relative.w-75
                            p Пробовал себя на факультете Компьютерных систем и сетей, но понял, что хочу заниматься именно веб-разрботкой.
            .card
                .card-header.position-relative.ithub.animate-box.animated.bottom#headingIthub
                    h2.mb-0.pl-40px
                        button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target="#collapseIthub" aria-expanded="true" aria-controls="collapseIthub")
                            | Колледж международного уровня IT HUB #[br]
                            strong Веб- и мультимедийная разработка
                #collapseIthub.collapse(aria-labelledby="headingIthub" data-parent="#accordion")
                    .card-body.d-flex
                        .text-box.p-4.grey-box.position-relative.w-75
                            p Изучал HTML, CSS, JavaScript, Node.js, основы программирования на Java и PHP, создавал дизайн сайтов на Photoshop и Figma, пробывал себя в гейм-дизайне и создании игр на Unity. Участвовал в двух хакатонах, где вместе со своими командами занимал первое и второе места.
            .card
                .card-header.position-relative.sert.animate-box.animated.bottom#headingSert
                    h2.mb-0.pl-40px
                        button.btn.btn-block.text-left(type="button" data-toggle="collapse" data-target="#collapseSert" aria-expanded="true" aria-controls="collapseSert")
                            strong  Сертификаты
                #collapseSert.collapse(aria-labelledby="headingSert" data-parent="#accordion")
                    .card-body
                        img(src="./img/cert1.png" alt="cert1").cert-img.col-12.col-sm-4.mb-1
                        img(src="./img/cert2.png" alt="cert2").cert-img.col-12.col-sm-4.mb-1
                        img(src="./img/cert3.png" alt="cert3").cert-img.col-12.col-sm-4.mb-1
                        img(src="./img/cert4.PNG" alt="cert4").cert-img.col-12.col-sm-4.mb-1
        .row.p-0.m-0.col-12.bg-secondary.z-index-1000.absbg.animate-box.animated.bottom.bannerSecond.exp
            .row.p-0.m-0.text-white#exp
                .col-12.p-5
                    h2.animate-box.animated.mb-3.left.display-4.ad-2 Experience
        .row.p-0.m-0.col-12
            .timeline.position-relative.mt-3
                article.timeline-entry.position-relative.mb-3.animate-box.animated.right
                    .timeline-entry-inner.position-relative
                        .timeline-icon.ithub-logo.animate-box.animated.mb-3.left.ad-2
                        .timeline-label.position-relative.animate-box.animated.right.ad-2
                            .h2 IThub group
                            .lead Преподаватель
                article.timeline-entry.position-relative.mb-3.animate-box.animated.right
                    .timeline-entry-inner.position-relative
                        .timeline-icon.croc.animate-box.animated.mb-3.left.ad-2
                        .timeline-label.position-relative.animate-box.animated.right.ad-2
                            .h2 ЗАО «КРОК инкорпорейтед»
                            .lead Техник-тестировщик
                article.timeline-entry.position-relative.mb-3
                    .timeline-entry-inner.position-relative
                        .timeline-icon.profi.animate-box.animated.mb-3.left.ad-2
                        .timeline-label.position-relative.animate-box.animated.right.ad-2
                            .h2 Profil Sourcing
                            .lead Ресечер(Ассистент менеджера по подбору персонала)
        .row.p-0.m-0.col-12.bg-secondary.z-index-1000.absbg.animate-box.animated.bottom.bannerSecond.skills
            .row.p-0.m-0.text-white#skills
                .col-12.p-5
                    h2.animate-box.animated.mb-3.left.display-4.ad-2 Skills
        .row.p-0.m-0.p-3
            .col-md-6.mb-3.animate-box.animated.mb-3.left.ad-2
                .progress-wrap
                    .h3 HTML/CSS
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%")
                                span.text-white 80%
            .col-md-6.mb-3.animate-box.animated.right.ad-2
                .progress-wrap
                    .h3 JavaScript
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%")
                                span.text-white 65%
            .col-md-6.mb-3.animate-box.animated.mb-3.left.ad-2
                .progress-wrap
                    .h3 Bootstrap
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%")
                                span.text-white 50%
            .col-md-6.mb-3.animate-box.animated.right.ad-2
                .progress-wrap
                    .h3 Python
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%")
                                span.text-white 20%
            .col-md-6.mb-3.animate-box.animated.mb-3.left.ad-2
                .progress-wrap
                    .h3 Php
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%")
                                span.text-white 40%
            .col-md-6.mb-3.animate-box.animated.mb-3.right.ad-2
                .progress-wrap
                    .h3 React
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%")
                                span.text-white 50%
            .col-md-6.mb-3.animate-box.animated.left.ad-2
                .progress-wrap
                    .h3 Photoshop
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%")
                                span.text-white 75%
            .col-md-6.mb-3.animate-box.animated.right.ad-2
                .progress-wrap
                    .h3 Figma
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%")
                                span.text-white 80%
            .col-md-6.mb-3.animate-box.animated.left.ad-2
                .progress-wrap
                    .h3 Illustrator
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%")
                                span.text-white 30%
            .col-md-6.mb-3.animate-box.animated.right.ad-2
                .progress-wrap
                    .h3 Node.js
                        .progress
                            .progress-bar.position-relative.rounded.darkblue(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%")
                                span.text-white 60%
        .row.p-0.m-0.col-12.mb-3
            .row.p-0.m-0#projects
                .col-12.pl-5
                    h2.mb-3.display-4 Projects
                    a(href="/projects") Посмотреть больше &rarr;
                //a.col-xl-4.boxes-box.animate-box.animated.bottom.projects-items.m-3(href="/backend")
                //    img.items-img(src="./img/project1.png" alt="back")
                //    p.plashka  BackEnd
        .row.m-3.pl-4.d-flex.justify-content-center.pr-4.mt-0
            .card.card-project
                h2.m-3.text-warning.font-weight-light Последний проект
                #proj13.carousel.slide(data-ride="carousel").card-img-top
                    ol.carousel-indicators
                        li(data-target="#proj13" data-slide-to="0" class="active")
                    .carousel-inner
                        .carousel-item.active
                            img(src="./img/dice.png" alt="dice").d-block.w-100
                .card-body
                    h5.card-title.h3 Random number generator web app
                ul.list-group.list-group-flush
                    li.list-group-item
                        a(href="https://github.com/AurovD/dice").card-link Github проекта
                    li.list-group-item
                         a(href="https://aurovd.github.io/dice/").card-link Ссылка на проект
                    li.list-group-item
                        a(href="#contacts").card-link Заказать свой проект
        .row.p-5.m-0.col-12.contacts.text-white#contacts
            .contact-text.text-right.contact-text-line.h4 Контакты
            .contact-text.text-right.contact-text-line tel: +79265411308
            .contact-text.text-right.contact-text-line Telegram: @aurovdm
            .contact-text.text-right.z-index-1000
                a.mr-4(href="https://vk.com/aurovdm")
                    img(src="./img/vk.svg" alt="vk" width="40px")
                a.mr-4(href="https://github.com/AurovD")
                    img(src="./img/git.svg" alt="git" width="40px")
                a.mr-4(href="https://www.instagram.com/buckle_jean/")
                    img(src="./img/instagram.svg" alt="instagram" width="40px")
                a(href="https://www.facebook.com/profile.php?id=100052364083518&ref=bookmarks")
                    img(src="./img/fc.svg" alt="facebook" width="40px")